.signing-up {
  height: 70vh;
  align-items: center;

  .signing-up-header {
    font-weight: bolder;
  }

  .signing-in {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .signing-in-header {
      font-weight: bolder;
      width: 60%;
      display: flex;
      justify-content: flex-end;
    }
  }
}
