@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-icon {
  height: 45px;
  width: 45px;
  position: relative;
  @include flexCenter();
  cursor: pointer;

  .shopping-icon {
    height: 24px;
    width: 24px;
  }

  .item-count {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    bottom: 12px;
  }
}

.popover {
  @include flexCenter();
  flex-direction: column;

  .cart-items {
    height: 30vh;
    overflow-y: scroll;
    @include flexCenter();
    flex-direction: column;
  }

  .checkout-btn {
    margin-top: auto;
  }
}
